<div class="video-player">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{'https://www.youtube.com/embed/' + $ctrl.video.id.videoId}}" allowFullScreen ng-hide="$ctrl.video === undefined"></iframe>
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.video.snippet.title}}</h3>
    <div>{{$ctrl.video.snippet.description}}</div>
  </div>
</div>

<!-- Show if video is undefined -->
<div class="video-player" ng-show="$ctrl.video === undefined">Please wait</div>
